<li>
  <% if user.image.attached? %>
    <%= image_tag user.image, class: "icon2", alt: "icon-image" %>
  <% else %>
    <%= image_tag ('default.jpg'), class: "icon2", alt: "icon-image" %>
  <% end %>
  <%= link_to user.name, user %>
</li>