<% provide(:title, "About") %>
<div class="container">
  <div class="row about center">
    <h1>COMIC SHAREとは？</h1>
    <h4>オススメの漫画をたくさんの方と共有できるサービスです！</h4>
    <h3><i class="fab fa-angellist"></i> 使い方 <i class="fab fa-angellist"></i></h3>
    <p>
      王道からニッチな分野まで自分の大好きな漫画をシェアしてみましょう！<br />
      家にいる機会が多くなってしまった今、漫画を読む機会が増えたのではないでしょうか？？<br />
      今まで読んだことのなかった分野の漫画や、たくさんの方々にオススメされるような漫画<br />
      を発見することができたり、自分が、『これは絶対に面白いよ！』という漫画を他の方にも<br />
      共有してみましょう！
  　</p>
  </div>
</div>