<% provide(:title, 'Home') %>
<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <ul>
        <li class="table-tr center">
          <% @categories.each do |category| %>
            <h4 class="ca-name"><%= link_to category.name, category_path(category) %></h4>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-8 feed-posts">
      <h2>みんなのオススメ漫画！</h2>
      <% @post.each do |p| %>
        <%= render p %>
      <% end %>
      <%= paginate @post %>
    </div>
  </div>
</div>
