@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medius-light: #eaeaea;
$light-gray: #777;

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.up-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  &:hover {
    opacity: 0.7;
  }
}

.btn-green-moon {
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}

.btn-dark-blue {
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}

main {
  padding-top: 110px;
  padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: serif;
}

.center {
  text-align: center;
}

input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

//aside
section.user_info {
  margin-top: 20px;
}
section {
  padding: 10px 0;
  margin-top: 20px;
  &:first-child {
    border: 0;
    padding-top: 0;
  }
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.actions {
  padding-bottom: 15px;
  border-radius: 30px;
}

//paginate
.pagination {
  li {
    a {
      border: none;
      color: #696969;
      &:hover {
        background: #93c9ff;
        border-radius: 15px;
      }
    }
  }
}

.pagination {
  .active {
    a {
      background: #93c9ff;
      border-radius: 15px;
    }
  }
}

.fa-user-circle {
  color: $light-gray;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 15px 0;
    border-bottom: 1px solid darkgray;
    box-shadow: 0 1px 1px lightgray;
    .search-user-name {
      font-size: 1.3em;
    }
  }
}

.users.follow {
  padding: 0;
}

.follow-title {
  font-family: serif;
}

//flash
.notice {
  color: #468847;
  background-color: #dff0d8;
  padding: 15px;
}
.alert {
  color: #b94a48;
  background-color: #f2dede;
}

.checkbox {
  height: 40px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

.password-form {
  margin-bottom: 30px;
}

.form {
  border-radius: 10px;
  box-shadow: 0 0 3px;
  padding: 12px 12px;
  font-family: serif;
  color: $light-gray;
}

.stats {
  overflow: auto;
  margin-bottom: 10px;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: rgb(99, 142, 170);
    }
  }
}

.edit-image {
  input {
    display: none;
  }
}

.icon-image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  object-fit: cover;
  overflow: hidden;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  overflow: hidden;
}

.icon2 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 100px;
  object-fit: cover;
  overflow: hidden;
}

.icon3 {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 100px;
  object-fit: cover;
  overflow: hidden;
}

.icon4 {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 100px;
  object-fit: cover;
  overflow: hidden;
}

.follow-btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  &:hover {
    background: #67c5ff;
    color: white;
  }
}

.user_follow {
  display: flex;
  h4 {
    padding-right: 30px;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// header
#logo {
  font-size: 25px;
  color: #333d37;
  font-family: fantasy;
  &:hover {
    text-decoration: none;
  }
}

.nav-height {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid darkgray;
  box-shadow: 0 1px 1px lightgray;
  li {
    a {
      height: 80px;
      padding-top: 30px;
      color: rgb(68, 73, 69);
      font-family: serif;
      &:hover {
        color: white;
        background-color: rgb(98, 148, 98);
      }
    }
    .d-item {
      padding: 5px 30px;
      height: 40px;
      line-height: 40px;
      .divider {
        box-shadow: 0 1px 1px lightgray;
      }
    }
  }
}

// footer
#footer {
  border-top: 1px solid #c0c0c0;
  padding-top: 15px;
  margin-bottom: 60px;
  color: $light-gray;
}

.fa-copyright {
  color: #c0c0c0;
}

//about
.about {
  color: $light-gray;
  font-family: serif;
  h1 {
    font-family: arial;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  h4 {
    padding-bottom: 20px;
  }

  p {
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 58px;
    margin-bottom: 80px;
  }
}

//profile

.show-profile {
  padding-bottom: 20px;
  margin-bottom: 20px;
  .prof {
    padding-bottom: 8px;
    border-bottom: 1px solid #DCDCDC;
  }
}

//item

.api-post {
  margin-bottom: 20px;
}

#search-box {
  h3, h4 {
    padding-bottom: 10px;
    color: $light-gray;
  }
}

.item-title {
  color: $light-gray;
  &:hover {
    text-decoration: none;
  }
}

.item-search {
  border: 1px solid $light-gray;
  border-radius: 5px;
  box-shadow: 3px 3px #CCCCCC;
  margin-bottom: 15px;
  padding: 10px 10px;
}


.content {
  padding-bottom: 15px;
  border-bottom: 1px solid darkgray;
  box-shadow: 0 1px 1px lightgray;
  height: 220px;
  .item-image {
    float: left;
    margin-right: 30px;
  }
  .text-content {
    .item-url {
      display: block;
    }
  }
}

.mli {
  list-style: none;
}

.item-image-url {
  padding-left: 30px;
  img {
    height: 430px;
    padding-bottom: 30px;
  }
}

//post

  .post-title {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }

  .post-point {
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
  }

.balloon{
  position: relative;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #a7d5f0;
  border: 2px solid #8ea1e0;
  color: $light-gray;
}

.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  top: -15px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #8ea1e0;
  border-left: 15px solid transparent;
}

.balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  top: -12px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #a7d5f0;
  border-left: 15px solid transparent;
}

//comment

.comment-n {
  margin-top: 10px;
  margin-left: 10px;
}

// .border-top {
//   p {
//     margin-top: 10px;
//     margin-bottom: 10px;
//     padding-bottom: 5px;
//     border-bottom: 1px solid darkgray;
//     box-shadow: 0 1px 1px lightgray;
//   }
// }
// .comments {
//   margin-top: 10px;
//   margin-bottom: 10px;
//   height: 200px;
//   overflow: scroll;
//   p {
//     width: 700px;
//     word-wrap: break-word;
//     padding-left: 10px;
//   }
// }

//category

.category-check {
  margin-right: 20px;
}

.table-tr {
  list-style: none;
  margin: 20px 10px;
  .ca-name {
    margin: 10px 25px;
    padding-bottom: 10px;
    letter-spacing: 8px;
    border-bottom: 1px solid darkgray;
    box-shadow: 0 1px 1px lightgray;
    font-weight: bold;
    font-size: 1.4em;
    a {
      color: rgb(79, 99, 107);
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.category-name {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 10px;
  border: 1px solid rgb(42, 117, 67);
  border-radius: 20px;
  a {
    color: $light-gray;
    &:hover {
      text-decoration: none;
    }
  }
}


.related-posts {
  padding-right: 30px;
  padding-left: 50px;
  .category-comic {
    padding: 20px 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid darkgray;
    box-shadow: 0 1px  $light-gray;
  }
  .category-post {
    img {
      padding: 20px 60px;
      margin-bottom: 20px;
      height: 250px;
      border: 1px solid lightgray;
      border-radius: 5px;
    }
  }
}

//notification

.notification {
  padding: 20px 10px;
  margin-top: 40px;
  height: 400px;
  overflow: scroll;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: rgb(238, 230, 230);
  .form-inline {
    border-bottom: 1px solid darkgray;
    box-shadow: 0 1px  $light-gray;
    padding-top: 10px;
    .comment-n {
      color: $light-gray;
    }
  }
}

.notification-icon {
  position: relative;
}
.n-circle {
  position: absolute;
  top: 25px;
  right: 10px;
  color: #efa04c;
}

// ハンバーガーメニュー
@media screen and (max-width: 768px) {
  /* bager menu */
  #header #navi {
    transition: all 0.6s;
    overflow-y: auto;
    padding-top: 40px;
    width: 300px;
    height: 100vh;
    z-index: 200;
    top: 0;
    right: -320px;
    background-color: #fff;
    position: fixed;
    flex-direction: column;
    align-items: baseline;
  }
  #header #navi li {
    padding-bottom: 10px;
  }
  #header .nav_btn {
    width: 44px;
    height: 44px;
    z-index: 300;
    top: 7px;
    right: 7px;
    cursor: pointer;
    position: absolute;
  }
  .hamburger_line {
    transition: all 0.6s;
    width: 34px;
    height: 2px;
    left: 5px;
    background-color: #000;
    position: absolute;
  }
  .hamburger_line1 {
    top: 10px;
  }
  .hamburger_line2 {
    top: 21px;
  }
  .hamburger_line3 {
    top: 32px;
  }
  .nav_bg {
    opacity: 0;
    transition: all 0.6s;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #000;
    cursor: pointer;
    position: fixed;
  }
  /* 表示された時用のCSS */
  .nav_open #header #navi {
    right: 0;
  }
  .nav_open .nav_bg {
    opacity: 0.8;
    visibility: visible;
  }
  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }
  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }
  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }
}