<div id="footer" class="clearfix center">
  <div class="container">
    <div class="row">
      <p><i class="fas fa-copyright"></i>
        <%= Time.current.year %> COMIC SHARE All Rights Reserved. .
      </p>
    </div>
  </div>
</div>